
ul {
    margin: 0 auto;
    padding: 0;
    width: 1128px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 250ms linear;
}

img:hover {
    transform: scale(1.02);
}

.gallery-item {
    width: calc((100% - 48px) / 3);
}